
<!-- <div class="mainTitle"><h1 class="navTitle">
    NBA Bite!
</h1></div> -->

<div class="home">

<h1 class="nameTitle">Start your Search here!</h1>

<a class="resLink homeLink" href='/players'>Players</a>
<a class="resLink " href='/teams'>Teams</a>
</div>