
<!-- <div class="mainTitle"><h1 class="navTitle">
    NBA Bite!
</h1></div> -->

<div class="home">

<h2 class="nameTitle">Start your Search here!</h2>

<a class="homeLink" href='/players'>Players</a>
<a class="homeLink" href='/teams'>Teams</a>
</div>