* {
    background-color: bisque;
}

.avgContainer {
font-size: smaller;
width: 720px;
}

.seasonInput {
    width: 50px;
}

.seasonSubmit {
    background-color: cyan;
}

.avgTitle {
    display: flex;
    align-items: center;
    border: 1px solid black;
    font-size: smaller;
    border-bottom-color: crimson;
    height: 40px;
    font-size: x-large;
}

.statTitle {
    display: flex;
    font-size: smaller;
    border: 1px solid black;
    border-top-color: crimson;
}

.statRow {
    display: flex;
    font-size: smaller;
    border: 1px solid black;
}


.year {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 50px;
    /* grid-area: year; */
}

.min {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    width: 40px;
    border-right: 1px solid black;
}

.gp {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: gp; */
    
}

.fgm {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: fgm; */
}

.fga {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: fga; */
}

.fg3m {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 40px;
    /* grid-area: fg3m; */
}

.fg3a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 40px;
    /* grid-area: fg3a; */
}

.ftm {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: ftm; */
}

.fta {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: fta; */
}

.oreb {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 40px;
    /* grid-area: oreb; */
}

.dreb {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 40px;
    /* grid-area: dreb; */
}

.reb {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: reb; */
}

.ast {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: ast; */
}

.stl {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: stl; */
}

.blk {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: blk; */
}

.tov {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: tov; */
}
    
.pf {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: pf; */
}

.pts {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: pts; */
}

.fg-pct {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 30px;
    /* grid-area: fg-pct; */
}

.fg3-pct {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    border-right: 1px solid black;
    width: 40px;
    /* grid-area: fg3-pct; */
}

.ft-pct {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25px;
    width: 30px;
    /* grid-area: ft-pct; */
}

table {
    text-align: center;
    font-size: x-small;
    border-collapse: collapse;
    border-left:.5px solid black;
    
}

th {
    padding: 3px;
    border-bottom: .5px solid black;
    border-right: .5px solid black;
}

td {
    padding: 5px;
    border-bottom: .5px solid black;
    border-right: .5px solid black;

}

#delete {
    width: 25px;
}

caption {
    text-align: left;
    font-size: 1.5em;
    border:.5px solid black;
}

.statContainer {
    overflow-x: scroll;
}

.statContainer::-webkit-scrollbar {
    width:6px;border-left:1px solid #E6ECF8;
}
.statContainer::-webkit-scrollbar-thumb{
    background-color:#d6872c;
}