* {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.avgContainer {
font-size: smaller;
width: 720px;
}

.navHeader {
    display: flex;
    justify-content: center;
}

.nav {

    position: absolute;
    background-color: transparent;
    background-clip: content-box;
    text-align: left;
    margin-left: -360px;
    margin-top: -3px;
}

.navLink {
    background-color: transparent;
    color: #031550;
    font-style: italic;
    font-weight: bold;
    font-size: x-small;
    text-decoration: none;
}

.navLink:hover {
    color: #fafafa;
}

.navTitle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 4em;
    color: #FAFAFA;
    background-image: url("https://images.unsplash.com/photo-1525973132219-a04334a76080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1277&q=80");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px; */
    height: 110px;
    width: 500px;
    margin: 0;
}


.mainTitle {
    
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* color: #374d87; */
    /* background-clip: text;
    -webkit-background-clip: text; */
}

.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.detailStats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.seasonInput {
    width: 50px;
    border-radius: 20px;
    border:1px solid #031550;
}

.seasonSubmit {
    background-color: #031550;
    border-radius: 20px;
    border:1px solid #a1b2df;
    color: #fafafa;
    font-style: italic;
}


.deleteButton {
    background-color: #031550;
    border-radius: 20px;
    border:1px solid #a1b2df;
    color: #fafafa;
}

.deleteButton:hover {
    background-color:#a1b2df;
    border:1px solid #a1b2df;

} 

.seasonSubmit:hover {
    background-color: #a1b2df;
    border:1px solid #a1b2df;
}


table {
    text-align: center;
    font-size: x-small;
    border-collapse: collapse;
    border-left:.5px solid #a1b2df;
}

th {
    padding: 3px;
    border-bottom: .5px solid #a1b2df;
    border-right: .5px solid #a1b2df;
}

td {
    padding: 5px;
    border-bottom: .5px solid #a1b2df;
    border-right: .5px solid #a1b2df;

}

td:hover::after {
    background-color: #a1b2df;
    top: -1000px;
    z-index: -1;
}

.tdStat:hover {
    background-color: #031550;
    font-weight: bold;
    color: #fafafa;
}


input::placeholder {
    text-align: center;
}

a {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color:#a1b2df;
    text-decoration: underline;
}

caption {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color: #031550;
    border:.5px solid #a1b2df;
    background-color: #a1b2df;
    height: 25px;
    align-content: center;
    align-items: center;
    padding-top: 4px;
    padding-left: 3px;

}

.nameTitle {
    text-align: center;
    color: #031550;
    font-style: italic;
    text-decoration: underline;

}

.table {
    justify-content: center;
}

.statContainer {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    
}

.statContainer::-webkit-scrollbar {
    width:6px;border-left:1px solid #fafafa;
}
.statContainer::-webkit-scrollbar-thumb{
    background-color:#a1b2df;
}

.formContainer {
    display: flex;
    align-items: start;
}